/**
 * Main App Styles
 */

@import "~bootstrap/scss/bootstrap";
@import "dropzone";

body {
  background-color: rgb(252, 248, 248);
  padding: 0;
  margin: 0;
}

#navigation {
  background-color: rgba(116, 116, 116, 0.6);
}

#container {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  background-size: auto;
  // background-image: url("../images/verkstad.jpg");
  // background-repeat: no-repeat !important;
  // object-fit: cover;
}

h2 {
  font-size: x-large;
  font-family: "Helvetica";
}

#nav-row {
  position: relative;
}

#logo {
  font-family: "Pacifico", cursive;
  color: rgb(78, 77, 77);
  font-size: xx-large;
  background-color: rgba(219, 217, 217, 0.5);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 15%;
}

#basic-navbar-nav {
  display: flex;
  // justify-content: flex-end;
  margin-right: 0;
  flex-wrap: wrap;
}

#clothes-drop-title,
#login-link {
  color: white;
}

#clothes-drop-title:hover,
#login-link:hover {
  color: rgb(80, 79, 79);
}

.navitem {
  padding-left: 1rem;
  color: rgb(212, 209, 209);
}

.create-button {
  color: rgb(116, 115, 115);
}

.navitem:first-child:hover {
  background-color: rgb(224, 229, 230);
  font-style: bold;
  border-radius: 20px 0 0 20px;
}

.navitem:last-child:hover {
  background-color: rgb(224, 229, 230);
  font-style: bold;
  border-radius: 0 20px 20px 0;
}

#basic-nav-dropdown {
  color: white;
}

#basic-nav-dropdown:hover {
  color: rgb(80, 79, 79);
}

#product-search {
  max-width: 30vw;
  height: 2.5rem;
  border-radius: 50px;
  background-color: rgba(233, 230, 230, 0);
  border: 2px solid rgb(218, 215, 215);
  position: absolute;
  margin-top: -7%;
  right: -3%;
  color: white;
}

#product-search::placeholder {
  color: whitesmoke;
}

#basket-icon {
  font-size: xx-large;
  border: 1px dotted white;
  border-radius: 5px;
}

#hamburger-icon {
  color: white;
}

#login-form,
#signup-form,
#update-profile-form {
  background-color: rgba(192, 190, 190, 0.7);
  margin-top: 8vh;
}

.main-card {
  background-color: rgb(253, 246, 246);
  box-shadow: 5px 5px 10px grey;
}

.singleCard {
  margin-bottom: 5rem;
}

#footer {
  display: flex;
  position: fixed;
  bottom: -1;
  left: 0;
  right: 0;
  background-color: #eeeeee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0vh;
  color: black;
  opacity: 0.8;

  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

#footer.show {
  bottom: 0;
  height: 20vh;

  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 200px) and (max-width: 490px) {
  #logo {
    margin-left: -2rem;
    font-size: xx-small;
  }

  #product-search {
    margin-top: -0.75rem;
    max-width: 20vw;
    max-height: 1.5rem;
    font-size: x-small;
  }

  #hamburger-icon {
    font-size: large;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 491px) and (max-width: 600px) {
  .singleCard {
    min-width: 80vw;
  }

  #logo {
    font-size: large;
  }

  #product-search {
    max-width: 20vw;
    max-height: 2rem;
    border-radius: 50;
    background-color: rgba(233, 230, 230, 0);
    border: 1px solid rgb(218, 215, 215);
    font-size: small;
    // margin-top: -30%;
    margin-right: 10%;
    padding-left: 1rem;
    color: white;
  }

  #product-search::placeholder {
    color: whitesmoke;
  }

  #search-icon {
    display: none;
  }

  #basic-navbar-nav {
    margin-left: -9vw;
    flex-wrap: wrap;
  }

  #hamburger-icon {
    font-size: xx-large;
    margin-left: 20%;
  }

  .navitem {
    max-width: 80px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  #product-search {
    margin-top: -1.5rem;
    margin-right: 1rem;
  }

  #hamburger-icon {
    margin-left: 20%;
  }

  #logo {
    font-size: large;
  }
}

@media screen and (max-width: 1000px) {
  .navitem {
    margin: 1rem 0 1rem 0;
    font-size: medium;
  }

  #logo {
    margin-left: 7vw;
  }

  #product-search::placeholder {
    color: whitesmoke;
  }

  #search-icon {
    display: none;
  }

  #custom-menu {
    position: absolute;
    margin-left: 70vw;
    padding-left: 5%;
    margin-right: 0;
    margin-top: -10%;
  }

  #basic-navbar-nav {
    flex-wrap: nowrap;
    margin-right: 0;
    width: 30vw;
    margin-left: 2vw;
  }

  .navitem {
    min-width: 150px;
  }

  footer {
    font-size: x-small;
    max-height: 15vh;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-size: auto;
    background-repeat: repeat;
  }

  #logo {
    margin-left: 5vw;
  }

  #product-search {
    max-width: 30vw;
    height: 2.5rem;
    border-radius: 50px;
    background-color: rgba(233, 230, 230, 0);
    border: 2px solid rgb(218, 215, 215);
    position: relative;
    margin-top: 0.15rem;
    right: -3%;
    color: white;
  }

  #basic-navbar-nav {
    flex-wrap: nowrap;
    margin-right: 0;
    margin-left: 10px;
    width: 40vw;
  }

  #search-icon {
    // position: absolute;
    // margin-top: 0.1rem;
    // margin-left: 3.7rem;
    // font-size: x-large;
    // color: darkgray;
    display: none;
  }

  .navitem .nav-item {
    min-width: 135px;
    // margin-left: -5rem;
  }

  .navitem.signin {
    min-width: 150px;
  }

  footer {
    font-size: x-small;
    max-height: 8vh;
  }
}