/**
 * Main App Styles
 */

@import "~bootstrap/scss/bootstrap";
@import "dropzone";

body {
  background-image: url("https://images.pexels.com/photos/38293/workers-construction-site-hardhats-38293.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 100% 190vh;
}

#container {
  min-height: 150vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: white;
  opacity: 0.8;
}
