/**
 * Main App Styles
 */

@import "~bootstrap/scss/bootstrap";
@import "dropzone";

body {
  // background-image: url("https://images.pexels.com/photos/38293/workers-construction-site-hardhats-38293.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-color: rgb(252, 248, 248);
  background-size: 100% 190vh;
}

#navigation {
  background-color: rgb(241, 241, 241);
}

#container {
  min-height: 150vh;
}

h2 {
  font-size: x-large;
}

#basic-navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-item {
  color: lightgray;
}

#basket-icon {
  font-size: xx-large;
  border: 1px dotted white;
  border-radius: 5px;
}

.singleCard {
  margin-bottom: 5rem;
}

#footer {
  display: flex;
  position: fixed;
  bottom: -1;
  left: 0;
  right: 0;
  background-color: #eeeeee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0vh;
  color: black;
  opacity: 0.8;

  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

#footer.show {
  bottom: 0;
  height: 20vh;

  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .navitem {
    margin: 1rem 0 1rem 0;
    font-size: medium;
  }
  #logo {
    margin-left: 35vw;
  }

  footer {
    font-size: x-small;
    max-height: 15vh;
  }
}

@media screen and (min-width: 1000px) {
  #basic-navbar-nav {
    flex-wrap: nowrap;
  }
  footer {
    font-size: x-small;
    max-height: 8vh;
  }
}
